video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .hero-container h1 {
    color: white;
    font-size: 90px;
    margin-top: -100px;
  }

  .hero-container p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .hero-container button {
    margin-top: 32px;
    color: #fff;
    margin-top: 16px;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 15px;
  }
  .hero-container button:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.5s ease;
  }

  @media screen and (max-width: 960px) {
    .hero-container h1 {
        color: white;
        font-size: 70px;
        margin-top: -150px;
      }
  }
  @media screen and (max-width: 768px) {
    .hero-container h1 {
        color: white;
        font-size: 30px;
        margin-top: -100px;
      }
      .hero-container p {
        font-size: 20px;
      }
  }